.sidebar.sidebar-sm .links {
    width: fit-content;
}

.sidebar.sidebar-sm .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
    width: fit-content;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.sidebar.sidebar-sm .logo .icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar.sidebar-sm .logo:hover {
    background-color: #73737352;
}

.sidebar .icon {
    cursor: pointer;
}

.sidebar.sidebar-sm .links .link {
    width: fit-content;
}

.sidebar.sidebar-sm .links .link.search-icon {
    border: 1px solid white;
}

.sidebar.sidebar-sm .bottom {
    width: fit-content;
}

.sidebar.sidebar-sm .bottom > * {
    padding: 10px;
}