.home {
    display: flex;
}

.sidebar {
    flex: 1.6;
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
    background-color: blue !important;
    /* display: none; */
}

/* 
.sidebar-sm {
    flex: 0.2;
    background-color: green;
} */

.right-home {
    display: flex;
    gap: 50px;
    flex: 10;
    background-color: black;
}

.right-home .feed {
    flex: 7.7;
}

.right-home .feed .content {
    max-width: 85%;
    margin-left: auto;
    background-color: red;
}

.right-home .friends {
    flex: 4.7;
}

@media (max-width: 1160px) {
    
    .right-home .friends {
        display: none;
    }

    .right-home .feed {
        background-color: red;
    }


}